{% extends 'tables_base.html' %}

{% block title %}
<title>car loans</title>
{% endblock title %}

{% block table %}
{% load static %}

<style>
  body{
    background-color:#c7c4c4;
  }
  h4 {
    background-color:#2e4863 ;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
</style>
<h4 class="text-center">Car Loans Table </h4>
<table class="table" style="background-color: #04407b;color: white;">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Car Sold</th>
          <th scope="col">Finance company</th>
          <th scope="col">Loan amount</th>
          <th scope="col">Other Details</th>
        </tr>
      </thead>
      <tbody>
      {%for loans in car_loans%}
        <tr>
          <th scope="row">{{loans.loan_id}}</th>
          <td>{{loans.car_sold}}</td>
          <td>{{loans.finance_company}}</td>
          <td>{{loans.loan_amount}}</td>
          <td>{{loans.other_details}}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>


{% endblock table %}
